
{% load static %}
<html>
    <head>
        <title>ASOME Health</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="icon" type="image/jpg" href="{% static 'image/logo full.png' %}" width="3px">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        
    <body>
        <div class="byose">
            <div class="container">
                <div class="logo">
                    <nav class="navbar">
                    <img src="{% static 'image/logo full.png' %}" class="afrilogo">
                    <a href="" class="home">Home</a>
                    <a href="">About us</a>
                    <a href="">Contact</a>
                    <a href="">Services</a>
                    <button><a href="{% url 'signup' %}">SignUp</a></button> <br>
                    </nav>
                </div>
                <div class="linklogos">
                    <a href="#"><img src="{% static 'image/discord.webp' %}" id="spin"></a>
                    <a href="#"><img src="{% static 'image/medium.svg' %}" id="spin"></a>
                    <a href="#"><img src="{% static 'image/twitter.webp' %}" id="spin"></a>
                    <a href="#"><img src="{% static 'image/instagram.webp' %}" id="spin"></a>  
                </div>
            </div>
            <div class="pikture" style="background-image: url('{% static 'image/asome coming.jpg' %}') ">
                <div class="head">
                    <h1>Welcome to our website</h1>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <div class="mission">
                                <p><b>OUR MISSION</b></p>
                                <h3 id="headmission">Bringing 100 million Africans into web3 in 5 years.</h3>
                                <p> wants to make the possiblities of Web3 accessible to 
                                everyone, by creating entry-level opportunities into Web 3. We
                                have a strong desire to inspire the average African to be a part of
                                the global revolution by empowering them to become participants
                                and contributors through Education, Gaming and Community
                                Building </p>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div>
                                <img src="{% static 'image/mission.webp' %}" class="missionpic">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="container">
                <h2>The future of work is play</h2>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="p-3" id="akazu1">
                            <img src="{% static 'image/future-1.webp' %}" class="league1">
                            <p class="marana">The future of work is evolving. We are excited to be a part of it by creating new types of jobs for Africans.</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="p-3" id="akazu2">
                            <img src="{% static 'image/future-2.webp' %}" class="league1">
                            <p class="marana">We invest in NFT assets to allow local communities across Africa to be able to gain entry-level access into Web 3.</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="p-3" id="akazu3">
                            <img src="{% static 'image/future-3.webp' %}" class="league1">
                            <p class="marana">We honestly believe in the power of community in turning observers into participants, and then into contributors able to shape new possibilities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="p-3">
                            <img src="{% static 'image/Value-Chain.svg' %}">
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="amagambo">
                            <h2><b>The Afriguild Value chain</b></h2>
                            <p class="amagambo1"><b>Invest</b> in gaming and tools</p><hr>
                            <p class="amagambo1"><b>Provide</b> members with entry-level opportunities through gaming</p><hr>
                            <p class="amagambo1"><b>Increase</b> interest and participation of everyday people in Web 3</p><hr>
                            <p class="amagambo1"><b>Contribute</b> to the growth of the global economy through blockchain based games and the crypto metaverse</p><hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 col-md-5" id="kryptonite">
                        <div class="p-4">
                            <h2 class="krypto">Making crypto simple and accessible</h2>
                            <span class="lass">Gaming is spreading crypto education and driving adoption. Afriguild is committed to making Web3 games accessible to more people </span>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="" id="boxer1">
                        <img src="{% static 'image/Mask-Group-3.svg' %}" width="100%">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="" id="boxer2">
                        <img src="{% static 'image/Game-Image.svg' %}" width="100%">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="" id="boxer3">
                        <img src="{% static 'image/Game-Image-2.svg' %}" width="100%">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="" id="boxer4">
                        <img src="{% static 'image/Mask-Group-4.svg' %}" width="100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="community">
            <div class="row">
                <div class="col-6 col-md-6" id="guideline">
                    <div class="p-3" style="padding-top: 100px;">
                        <h2>Join our Community</h2>
                        <span class="lass">5 years will be here in a blink. Let's get to work!</span><br><br>
                        <button><img src="{% static 'image/discord.webp' %}" class="btnimg">  <a href="#">Join our Discord</a></button>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="p-3">
                        <img src="{% static 'image/community-desktop.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="">
                <img src="{% static 'image/logo.webp' %}" class="afrilogo">
            </div>
            <div class="footerr">Copyright Afriguild, 2022</div>
            <div class="final">
                <a href="#"><img src="{% static 'image/discord.webp' %}" id="spin"></a>
                <a href="#"><img src="{% static 'image/medium.svg' %}" id="spin"></a>
                <a href="#"><img src="{% static 'image/twitter.webp' %}" id="spin"></a>
                <a href="#"><img src="{% static 'image/instagram.webp' %}" id="spin"></a>
            </div>
        </div>
    </body>
</html>